body {
  padding-top: 50px;
}
.clearfix::after {
  clear: both;
}
.fixed-anchor {
  max-height: 0;
  max-width: 0;
  position: relative;
  top: -100px;
  display: block;
}
.item-list h2 {
  margin: 0;
  font-size: 21px;
}
.item-list .list-group-item.row {
  margin-left: 0;
  margin-right: 0;
}
.circle-icon {
  font-size: 17px;
  line-height: 17px;
  padding: 13px;
  border-radius: 50%;
  margin-right: 15px;
  width: 46px;
  height: 46px;
  margin-top: 2px;
}
img.circle-icon {
  padding: 0;
}
.circle-icon.icon-large {
  width: 64px;
  height: 64px;
}
article.topic-post {
  padding-bottom: 2em;
}
.jumbotron.banner-wrap .container {
  position: relative;
}
.jumbotron.banner-wrap .container .breadcrumb {
  background-color: transparent;
  padding-left: 0;
}
.jumbotron .category-title {
  padding-right: 200px;
}
.jumbotron .tool-button {
  position: absolute;
  right: 15px;
  top: 40px;
}
.left-line {
  position: relative;
}
.left-line::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  border-left: 1px solid #ddd;
  left: 31px;
}
.topic-post .panel-primary .panel-heading a {
  color: white;
}
.CodeMirror {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}
.topic-post pre {
  border: none;
  padding: 10px 15px;
  line-height: 1.5em;
}
.topic-post .panel-body {
  padding: 25px 35px;
}
.markdown-body img {
  max-width: 100%;
}
#input-user-remember {
  box-shadow: none;
  width: 18px;
}
footer {
  padding-bottom: 15px;
}
