# System
.*
!.gitignore
!.gitkeep
!.gitattributes
!.htaccess

# Development
/vendor
/media/css/custom.css
/templates/theme
!/templates/theme/.gitkeep

#Windwalker
/etc/secret.yml

#Test
/phpunit.xml
/phpunit.core.xml
