/**
 * @link https://www.tinymce.com/css/codepen.min.css
 */

* {
	border: 0;
	padding: 0;
	margin: 0;
	background: 50% 50% no-repeat;
	text-decoration: none;
	color: inherit;
	box-sizing: border-box;
	font-weight: 400;
	z-index: 1
}
:focus {
	outline: 0
}
b,
strong {
	font-weight: 700
}
ol,
ul {
	list-style: none
}
button,
input,
input[type=color],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
input[type=button],
input[type=reset],
input[type=submit],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
pre,
select,
textarea {
	font: inherit
}
.codepen body {
	margin: 10px 0 0
}
.codepen body textarea {
	display: none
}
.mce-container textarea {
	display: initial!important
}
.mce-content-body {
	font-size: 14px;
	color: #828282;
	padding: 0 25px 25px
}
.mce-content-body h1,
.mce-content-body h2,
.mce-content-body h3,
.mce-content-body h4,
.mce-content-body h5,
.mce-content-body h6 {
	font-weight: 200;
	line-height: 1.4em;
	margin: 25px 0 15px
}
.mce-content-body h1 {
	font-size: 34px
}
.mce-content-body h2 {
	font-size: 30px
}
.mce-content-body h3 {
	font-size: 26px
}
.mce-content-body h4 {
	font-size: 22px
}
.mce-content-body h5 {
	font-size: 18px
}
.mce-content-body h6 {
	font-size: 14px
}
.mce-content-body p {
	margin: 25px 0
}
.mce-content-body ol,
.mce-content-body ul {
	margin-left: 15px;
	list-style-position: outside;
	margin-bottom: 20px
}
.mce-content-body ol li,
.mce-content-body ul li {
	margin-left: 10px;
	margin-bottom: 10px;
	color: #828282
}
.mce-content-body ul {
	list-style-type: disc
}
.mce-content-body ol {
	list-style-type: decimal
}
.mce-content-body table {
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #aaa
}
.mce-content-body table tr:nth-child(even) {
	background: #FAFAFA
}
.mce-content-body table caption,
.mce-content-body table td,
.mce-content-body table th {
	padding: 15px 7px;
	font: inherit
}
.mce-content-body table th {
	font-weight: 400;
	color: #6E6E6E;
	background-position: 100% 100%;
	background-size: 2px 10px;
	background-repeat: no-repeat
}
.mce-content-body table th:last-child {
	background: 0 0
}

/* Luna Hack */
.mce-content-body hr#luna-readmore {
	background: #eee;
	content: "READMORE";
	height: 20px;
	display: block;
	text-align: center;
}

.mce-content-body hr#luna-readmore::before {
	content: "READMORE";
	color: #999;
}
.mce-content-body img {
	max-width: 100%;
}
